@font-face {
    font-family: 'SVNProduct';
    src: url('../fonts/SVN-Product Sans Regular.ttf');
  }
.btn.btn-outline-light.btn-sm.rounded-0.flex-shrink-1.d-inline-flex.align-item-end.mb-0 {
    width: 110px;
}
body {
    font-family: 'SVNProduct'!important;
}
@media screen and (min-width: 768px) {
    .scrollbar {
        overflow: auto;
    }
}

li.loss {
    background-color: #331a1f;
}
li.loss polyline.color {
    stroke: crimson;
}
li.loss circle.color {
    fill: crimson;
}
li.loss .color {
    color: crimson;
}
li.loss .percent {
    color: crimson!important;
}

li.gain {
    background-color: #222a22;
  }
  li.gain polyline.color {
    stroke: limegreen;
  }
  li.gain circle.color {
    fill: limegreen;
  }
  li.gain .color {
    color: limegreen;
  }
  li.gain .percent {
    color: limegreen!important;
  }