.cke_dialog img {
    height: auto !important;
    max-width: 100% !important;
}
.project-section {
    margin: 0 0 15px 0;
    box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
}
.project-section ol,
.project-section ul {
    margin: 0;
    padding: 0;
}
.project-section input[type="text"],
.project-section input[type="password"],
.project-section textarea,
.project-section select {
    background: none;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    width: 100%;
    outline: none;
}
.project-section input[type="text"]:focus,
.project-section input[type="password"]:focus,
.project-section textarea:focus,
.project-section select:focus {
    border-color: rgba(0,0,0,0.3);
}
.project-section label {
    margin: 0;
    display: block;
    line-height: 36px;
    cursor: pointer;
}
.project-section .section-header {
    position: relative;
    padding: 15px;
    background: #1f64a0;
}
.project-section .section-title {
    margin: 0;
    padding-left: 45px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.project-section .section-title .form-input {
    border-color: transparent;
    height: auto;
    width: calc(100% - 80px);
    line-height: 1;
    color: #FFF;
}
.project-section .section-title .form-input:hover {
    background: rgba(255,255,255,0.1);
    cursor: text;
}
.project-section .section-title .form-input:focus {
    background: rgba(255,255,255,0.2);
}
.project-section .section-title ::placeholder {
    color: #FFF;
    opacity: 1;
}
.project-section .right-button {
    position: absolute;
    top: 16px;
    right: 15px;
    border: none;
    background: none;
    color: #FFF;
    width: 26px;
    height: 26px;
    font-size: 20px;
    line-height: 26px;
}
.project-section .clone-button {
    right: 50px;
}
.project-section .left-button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    color: #FFF;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    padding: 0;
}
.project-section .move-button {
    cursor: move;
}
.project-section .section-setting {
    margin: 0;
    font-size: 0;
    background: #f1f1f1;
    position: relative;
}
.project-section .section-setting li {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
}
.project-section .section-setting li:hover {
    background: #e9e9e9;
}
.project-section .section-setting li:not(:first-child) {
    border-left: 1px solid #ddd;
}
.project-section .section-setting li.has-icon {
    position: relative;
    padding-left: 25px;
}
.project-section .section-setting li.has-icon > i {
    position: absolute;
    top: 22px;
    left: 10px;
}
.project-section .section-setting li.setting-button-group {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 0;
}
.project-section button.toggle-advanced-setting {
    border: none;
    color: #FFF;
    background: #3598dc;
    height: 36px;
    padding: 0 15px;
    border-radius: 3px;
}
.project-section .section-advanced-setting .footer-button-group {
    width: 100%;
    text-align: right;
}
.project-section button.delete-section {
    color: #FFF;
    background: #d64635;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 3px;
}
.section-advanced-setting {
    margin: 0;
    font-size: 0;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
.section-advanced-setting li {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    width: 33.333333%;
}
.section-advanced-setting li label {
    line-height: 1.5;
}
.section-advanced-setting li .form-input {
    border-color: #eaeaea;
    padding: 0 10px;
    height: 36px;
}
.section-column-container {
    background: #f1f1f1;
    padding: 10px;
}
.section-column-container .column-tab {
    border-bottom: 1px solid #f1f1f1;
}
.section-column-container .column-tab .column-text {
    display: block;
    font-weight: 700;
    color: #28a745;
    background: #FFF;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s;
}
.section-column-container .column-tab .column-text:hover,
.section-column-container .column-tab .active .column-text {
    background: #28a745;
    color: #FFF;
}
.section-column-container .column-content {
    background: #FFF;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.section-column-container .column-content > .item:not(.active) {
    display: none;
}
.section-column-container .column-content .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 15px 0 0;
    background: #fff8e1;
    opacity: 0.7;
    border-radius: 6px;
    border: 2px dashed #ffe082;
    transition: all 0.3s;
}
.section-column-container .column-content .button-group:hover {
    opacity: 1;
}
.section-column-container .column-content .add-element-button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    color: #28a745;
    text-transform: uppercase;
    outline: 0;
}
.section-column-container .element-block {
    margin: 0 0 15px 0;
    padding: 10px;
    background: rgba(232,245,233,0.5);
    transition: all 0.3s;
    cursor: move;
}
.section-column-container .element-block:hover {
    background: rgba(232,245,233,1);;
}
.section-column-container .editor-extra-buttons {
    margin-bottom: 10px;
}
.section-column-container .editor-extra-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.section-column-container .editor-extra-buttons .media-button {
    display: inline-block;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ffa000;
    color: #ffa000;
    background: #FFF;
    border-radius: 3px;
}
.section-column-container .editor-extra-buttons .media-button:hover {
    background: #ffa000;
    color: #FFF;
}
.section-column-container .element-block .element-block-action-buttons button {
    width: auto;
    height: 28px;
    color: #FFF;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 3px;
    text-transform: none;
    background: #28a745;
    border: none;
}
.element-block-action-buttons {
    text-align: right;
    padding-top: 5px;
}
.element-block-action-buttons .remove-element-button {
    background-color: #d64635 !important;
}
.modal-area .modal-header {
    background: none;
    border: none;
    min-height: 0;
    position: relative;
}
.modal-area .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 36px;
    height: 36px;
    margin: 0;
    background-position: center;
    border: none;
    color: #FFF;
    background: rgba(var(--bs-danger-rgb));
    z-index: 999;
}
.modal-area #element_module .element-group {
    margin-top: 36px;
    padding: 0 30px;
}
.modal-area #element_module .item > .wrap {
    background: #c8e6c9;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.modal-area #element_module .item > .wrap:hover {
    background: #FFF;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.modal-area #element_module .item .icon {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 50px;
    line-height: 1;
    color: #43a047;
    pointer-events: none;
}
.modal-area #element_module .item label {
    margin: 0;
    display: block;
    font-weight: 700;
    pointer-events: none;
}
