@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}
:root, body{
	font-family: OpenSans, Arial, sans-serif;
	font-size: 13px;
}
.sidebar, .btn, .navbar.default-layout, .footer, .badge,
h1, h2, h3, h4, h5, h6, .card-title,
.card-subtitle, .card-description,
.card-revenue-table .revenue-item .revenue-amount p,
.card-revenue .highlight-text, .form-control, .icons-list > div,
.preview-list .preview-item .preview-item-content p .content-category,
.table thead th, .auth.theme-one .auto-form-wrapper .form-group .submit-btn,
.auth.theme-two .auto-form-wrapper form .form-group .submit-btn{
	font-family: OpenSans, Arial, sans-serif;
}
.navbar.default-layout .navbar-brand-wrapper{
	width: 210px;
}
.navbar.default-layout .navbar-menu-wrapper{
	width: calc(100% - 210px);
}
.main-panel{
	width: calc(100% - 210px);
}
.sidebar{
	width: 210px;
	padding-bottom: 50px;
}
.sidebar .nav .nav-item .nav-link{
	height: auto;
	padding: 10px 15px;
}
.sidebar .nav .nav-item .nav-link .menu-title{
	font-size: 13px;
    font-weight: 600;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
	font-size: 13px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper{
	width: 100%;
	margin-bottom: 0;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper{
	min-width: 0;
    max-width: calc(100% - 55px);
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name{
	line-height: 1.3;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .nav.sub-menu{
	padding: 0 0 0 2.55rem;
}
.navbar.default-layout{
	background: linear-gradient(120deg, #75beff, #1A83E2);
}
.nav_button{
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 600;
}
.nav_button i{
	margin-right: 0;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item{
	padding: 10px 25px;
}
.card .card-body{
	padding: 20px;
}
.card-title{
	font-weight: 600;
}
.btn{
	font-size: 13px;
	height: 36px!important;
}
.form-control:not(textarea), select.form-control, select.form-control:not([size]):not([multiple]){
	padding: 0.43rem 0.75rem;
	line-height: 13px;
	font-size: 13px;
	height: 36px!important;
}
.table td, .table th{
	white-space: unset;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img{
	width: auto!important;
}
.card.mb-4 {
    border-radius: 8px;
}
@media screen and (max-width: 991px){
	.main-panel{
		width: 100%;
	}
}
* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.col-12.col-md-3.sidebar-media {
	padding-right: 0px;
}

.sidebar-left {
	background-color: #e7ebeb;
	border-radius: 5px;
	padding: 9px 15px 15px 9px;
	max-width: 100%;
	border: 1px solid rgba(204, 204, 204, .4);
}

.sidebar-left .title-sidebar {
	color: #333;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 0 0 15px;
}

.sidebar-left .sidebar-menu {
	list-style: none;
}

.sidebar-left .sidebar-menu li {
	display: block;
}

.sidebar-left .sidebar-menu li a {
	display: block;
	font-size: 16px;
	line-height: 1.2;
	text-decoration: none;
	padding: 5px 0;
	position: relative;
	color: #333;
}

.sidebar-left .sidebar-menu li a:active {
	color: #3cbfc2 !important;
}

.sidebar-left .sidebar-menu li ul {
	padding-left: 20px;
	list-style: none;
}

.sidebar-left .sidebar-menu li ul {
	padding-left: 20px;
	list-style: none;
	display: none;
}

.sidebar-left .sidebar-menu li.has-child .icon {
	content: '';
	position: absolute;
	right: 0;
	top: 4px;
	width: 20px;
	height: 20px;
	background: url(//theme.hstatic.net/1000006434/1000468887/14/menu-arrow.png?v=491) center center no-repeat;
	background-size: 14px;
	transition: all 0.3s ease-in-out;
}

.sidebar-left .sidebar-menu li.has-child.menu-open>a .icon {
	transform: rotate(180deg);
	/* Khi có class .menu-open thì xoay icon 180 độ */
}

.sidebar-left .sidebar-menu li.has-child.menu-open>ul {
	display: block;
	/* Khi có class .menu-open thì menu con kế tiếp hiển thị */
}