.wizard.vertical>.steps {
    display: inline;
    float: left;
    width: 26%;
}
p.sub-header.description-price {
    margin-bottom: 0px;
}
.w-30.input-group.bootstrap-touchspin {
    width: 300px;
}
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 100px;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 40px;
    content: " Choose a file. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    /* text-transform: capitalize; */
    text-align: center;
}
/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}

button.btn.btn-primary.waves-effect.width-md.waves-light {
    height: 38px;
    margin-top: 28px;
}

button.btn.search {
    background-color: rgba(108,117,125,.09);
    color: #98a6ad;
    border-color: transparent;
    border-radius: 0 30px 30px 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

input.form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 0;
    color: #6c757d;
    background-color: rgba(108,117,125,.09);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px 0 0 30px;
}

.app-search-box {
    padding-top: 25px;
    width: 280px;
    float: right;
}
/*Profile Pic End*/