@media ( min-width: 992px) {

    /* Header */

    #masthead .header-top {
        font-size: 1.7rem;
    }

    #masthead .logo img {
        height: 60px;
    }

    #masthead .main-menu .menu-item a {
        margin: 0 10px;
    }

    #masthead .main-menu .menu-item a:hover {
        color: #DB651F;
    }

    #masthead .main-menu .sub-menu {
        display: block;
        transition: all 0.5s;
        transform: translate3d(0,10%,0);
        opacity: 0;
        pointer-events: none;
    }

    #masthead .main-menu .menu-item.has-children:hover .sub-menu {
        transform: translate3d(0,0,0);
        opacity: 1;
        pointer-events: auto;
    }

    #masthead .sub-menu .menu-item a {
        margin: 0;
    }

    #masthead .sub-menu .menu-item a:hover {
        background: rgba(0,0,0,0.1);
    }

    #masthead .buttons-right {
        line-height: 58px;
    }

    #masthead .buttons-right .button {
        margin-left: 5px;
    }

    #masthead .buttons-right .button__login {
        padding: 0 15px 0 2px;
        width: auto;
        line-height: 28px;
        border: 1px solid #ddd;
        border-radius: 30px;
    }

    #masthead .buttons-right .button__login .icon {
        margin-top: 2px;
        background: #aaa;
        color: #FFF;
        width: 24px;
        font-size: 0.8em;
        line-height: 24px;
        text-align: center;
        border-radius: 24px;
        vertical-align: top;
    }

    #masthead .buttons-right .button .text {
        font-size: 0.8em;
        margin-left: 7px;
        vertical-align: top;
    }

    #masthead .header-search .title {
        margin-bottom: 5px;
        font-size: 4.2rem;
        line-height: 1.2;
    }

    #main-search .type-search .text {
        padding: 0 15px;
        font-size: 1.8rem;
    }

    #masthead .keyword-search {
        border-radius: 8px;
    }

    #masthead .keyword-search input[name="keyword"] {
        padding: 0 145px 0 30px;
        height: 50px;
        min-width: 480px;
    }

    #masthead .keyword-search .advanced-search-button {
        height: 50px;
        width: 40px;
    }

    #masthead .keyword-search .submit-button {
        top: 3px;
        right: 3px;
        height: 44px;
        border-radius: 5px;
    }

    /* Footer */

    #footer .footer-top img {
        height: 60px;
    }

    #footer .footer-tbbct img,
    #footer .column-4 > .wrap {
        margin-left: 0;
    }

    #footer .footer-hotline {
        margin-top: 10px;
        font-size: 1.6rem;
    }
}
