html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Override Bootstrap CSS */

:root .container {
    --bs-gutter-x: 1rem;
}

:root .row {
    --bs-gutter-x: 2rem;
}

/* Form */

form ::placeholder {
    color: #999;
    font-size: 1.3rem;
}

form input[type="text"],
form input[type="email"] {
    border: 1px solid #eaeaea;
    width: 100%;
    padding: 0 15px;
    height: 34px;
}

form input[type="button"],
form input[type="submit"],
form button {
    border: none;
    background: none;
    font-size: 2rem;
    color: #DB651F;
    height: 34px;
    padding: 0;
}

form fieldset {
    position: relative;
}

/* Header */

#masthead .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#masthead .logo {
    order: 2;
    padding: 10px;
}

#masthead .logo img {
    height: 40px;
    width: auto;
}

body.home #masthead .logo img.white-logo,
body:not(.home) #masthead .logo img.color-logo {
    display: none;
}

#masthead .button {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 2.8rem;
    line-height: 1;
    border: none;
    background: none;
}

#masthead .header-nav-bar {
    order: 3;
}

#masthead .nav-bar-container {
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    background: rgba(219,101,31,0.9);
    box-shadow: -2px 2px 6px rgba(0,0,0,0.3);
    transition: all 0.5s;
    opacity: 0;
    transform: translate3d(100%,0,0);
    pointer-events: none;
}

#masthead .header-nav-bar.active .nav-bar-container {
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: auto;
}

body.open-menu {
    overflow: hidden;
}

#masthead .mobile-button {
    position: relative;
    z-index: 9999;
}

#masthead .header-nav-bar.active .mobile-button {
    position: fixed;
    top: 15px;
    right: 10px;
}

#masthead .main-menu {
    margin: 0;
    padding: 70px 0 30px;
    list-style: none;
}

#masthead .header-nav-bar.active .hide-on-open,
#masthead .header-nav-bar .hide-on-close {
    display: none;
}

#masthead .header-nav-bar .hide-on-open,
#masthead .header-nav-bar.active .hide-on-close {
    display: inline-block;
}

#masthead .main-menu .menu-item a {
    display: inline-block;
    padding: 0 40px 0 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #FFF;
}

#masthead .main-menu .menu-item:not(:first-child) a {
    border-top: 1px solid rgba(255,255,255,0.15);
}

#masthead .main-menu .menu-item.has-children {
    position: relative;
}

#masthead .main-menu .toggle-sub-menu-button {
    position: absolute;
    top: 1px;
    right: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    font-size: 1.2em;
}

#masthead .main-menu .sub-menu {
    display: none;
    list-style: none;
    padding: 0;
}

#masthead .sub-menu .menu-item a {
    text-transform: none;
    padding: 0 40px;
    font-size: 0.8em;
    background: rgba(0,0,0,0.1);
}

body:not(.home) #masthead .header-bottom {
    display: none;
}

#masthead .header-top {
    background: #DB651F;
}

.home #masthead .header-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(0,0,0,0.5);
    overflow-x: clip;
}

#masthead .header-bottom {
    position: relative;
}

#masthead .header-search {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#masthead .header-search .title {
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#masthead .keyword-search {
    border-radius: 4px;
    overflow: hidden;
    min-width: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#masthead .keyword-search input[name="keyword"] {
    border: none;
    padding: 0 45px 0 15px;
}

#masthead .keyword-search .button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 34px;
    color: #DB651F;
    font-size: 2rem;
}

#masthead .header-banner {
    height: 67vw;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Footer */

#footer {
    background: #212123;
    color: #bbb;
    font-size: 1.4rem;
}

#footer a {
    color: #bbb;
}

#footer .footer-menu-title,
#footer  h3 {
    color: #FFF;
    font-size: 125%;
    margin: 0 0 15px 0;
}

#footer .footer-top {
    padding: 30px 0;
}

#footer .footer-top img {
    height: 40px;
    width: auto;
}

#footer .footer-hotline {
    display: inline-block;
    position: relative;
    width: 9em;
    padding-left: 2.3em;
    line-height: 1.2;
}

#footer .footer-hotline .icon {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 2.1em;
}

#footer .footer-hotline a {
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFF;
}

#footer .footer-mid .wrap {
    margin: 0 0 30px 0;
}

#footer .footer-contact .item {
    position: relative;
    padding-left: 1.75em;
    margin: 0 0 10px 0;
}

#footer .footer-contact .item .icon {
    position: absolute;
    top: 0.3em;
    left: 0;
}

#footer .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .footer-menu .menu-item {
    margin: 0 0 10px 0;
}

#footer .subscribe-form fieldset {
    border-radius: 4px;
    overflow: hidden;
}

#footer .subscribe-form input[name="email"] {
    border: none;
    padding: 0 45px 0 15px;
}

#footer .subscribe-form .submit-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 34px;
}

#footer .social-links {
    margin: 15px 0 0;
}

#footer .social-links .item {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 34px;
    margin-left: 20px;
    color: #FFF;
}

#footer .social-links .youtube {
    background: #D42428;
}

#footer .social-links .facebook {
    background: #3B5998;
}

#footer .social-links .linkedin {
    background: #007BB9;
}

#footer .footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.2);
}

#footer .footer-bottom .copyright {
    margin: 0;
    padding: 10px 0;
    font-size: 80%;
}
