@media ( min-width: 768px) {

    /* Header */

    #masthead .container {
        display: block;
        max-width: 1140px;
    }

    #masthead .header-top {
        position: static !important;
        padding: 5px 0;
        background: #FFF !important;
    }

    #masthead .button {
        font-size: 1.7rem;
        color: #666;
    }

    #masthead .logo {
        padding: 0;
        display: inline-block;
    }

    body:not(.home) #masthead .logo img.white-logo {
        display: none;
    }

    body:not(.home) #masthead .logo img.color-logo {
        display: inline-block;
    }

    #masthead .header-nav-bar {
        display: inline-block;
        vertical-align: middle;
    }

    #masthead .buttons-left {
        vertical-align: middle;
    }

    #masthead .buttons-right {
        float: right;
    }

    #masthead .nav-bar-container {
        position: static;
        height: auto;
        overflow-y: unset;
        background: none;
        box-shadow: none;
        transition: none;
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }

    #masthead .main-menu {
        display: flex;
        padding: 0;
    }

    #masthead .main-menu .menu-item a {
        color: #666;
        text-transform: none;
        width: auto;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-align: left;
        font-size: 0.9em;
    }

    #masthead .main-menu .menu-item a.active {
        color: #DB651F;
    }

    #masthead .main-menu .menu-item:not(:first-child) a {
        border: none;
    }

    #masthead .main-menu .has-children a {
        padding: 0 20px 0 10px;
        background: none;
        width: 100%;
    }

    #masthead .main-menu .toggle-sub-menu-button {
        width: 20px;
        height: 30px;
        font-size: 1em;
    }

    #masthead .main-menu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        min-width: 180px;
        background: #FFF;
        box-shadow: -2px 2px 8px rgba(0,0,0,0.3);
        border-radius: 6px;
        overflow: hidden;
    }

    #masthead .sub-menu .menu-item a {
        font-size: 0.8em;
    }

    #masthead .sub-menu .menu-item:not(:first-child) a {
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    #masthead .buttons-left .button {
        padding: 0 10px;
        margin-left: 10px;
        height: 30px;
        line-height: 28px;
        border-radius: 6px;
        color: #FFF;
        background: rgb(219,101,31);
        background: linear-gradient(180deg, rgba(219,101,31,1) 0%, rgba(219,142,96,1) 100%);
    }

    #masthead .buttons-left .button .text {
        margin-left: 5px;
        font-size: 0.8em;
    }

    #masthead .buttons-right {
        line-height: 38px;
    }

    #masthead .buttons-right .button {
        vertical-align: middle;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
    }

    #masthead .header-search {
        top: 50%;
        transform: translate3d(-50%,-50%,0);
    }

    #masthead .header-search .title {
        font-size: 3rem;
    }

    #main-search .type-search {
        width: 100%;
        text-align: center;
    }

    #main-search .type-search label {
        cursor: pointer;
    }

    #main-search .type-search input[type="radio"] {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        opacity: 0;
    }

    #main-search .type-search .text {
        display: inline-block;
        padding: 0 5px;
        margin: 0 0 5px;
        border-bottom: 2px solid transparent;
        color: #FFF;
        font-weight: 500;
        text-shadow: 0 2px 8px rgba(0,0,0,0.3);
    }

    #main-search .type-search input[type=radio]:checked ~ .text {
        color: #DB651F;
        border-bottom-color: #DB651F;
    }

    #masthead .keyword-search input[name="keyword"] {
        padding-right: 140px;
        min-width: 380px;
    }

    #masthead .keyword-search .advanced-search-button {
        right: 104px;
    }

    #masthead .keyword-search .submit-button {
        padding: 0 10px;
        top: 2px;
        right: 2px;
        width: 100px;
        height: 30px;
        border-radius: 2px;
        background: #DB651F;
        color: #FFF;
        font-size: 1.6rem;
    }

    #masthead .keyword-search .submit-button .text {
        display: inline-block;
        margin-left: 5px;
        font-size: 0.8em;
        line-height: 1.4;
        vertical-align: top;
    }

    #masthead .header-banner {
        height: 42vw;
    }

    /* Footer */

    #footer .footer-tbbct img,
    #footer .column-4 > .wrap {
        margin-left: 30px;
    }
}
