@media ( min-width: 1200px) {

    /* Header */

    #masthead .header-banner {
        height: 30vw;
    }
}

@media ( min-width: 1400px) {

    /* Header */

    #masthead .container {
        max-width: 1320px;
    }
}
