@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}
:root, body{
	font-family: OpenSans, Arial, sans-serif;
	font-size: 13px;
}
.sidebar, .btn, .navbar.default-layout, .footer, .badge,
h1, h2, h3, h4, h5, h6, .card-title,
.card-subtitle, .card-description,
.card-revenue-table .revenue-item .revenue-amount p,
.card-revenue .highlight-text, .form-control, .icons-list > div,
.preview-list .preview-item .preview-item-content p .content-category,
.table thead th, .auth.theme-one .auto-form-wrapper .form-group .submit-btn,
.auth.theme-two .auto-form-wrapper form .form-group .submit-btn{
	font-family: OpenSans, Arial, sans-serif;
}
.navbar.default-layout .navbar-brand-wrapper{
	width: 210px;
}
.navbar.default-layout .navbar-menu-wrapper{
	width: calc(100% - 210px);
}
.main-panel{
	width: calc(100% - 210px);
}
.sidebar{
	width: 210px;
	padding-bottom: 50px;
}
.sidebar .nav .nav-item .nav-link{
	height: auto;
	padding: 10px 15px;
}
.sidebar .nav .nav-item .nav-link .menu-title{
	font-size: 13px;
    font-weight: 600;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
	font-size: 13px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper{
	width: 100%;
	margin-bottom: 0;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper{
	min-width: 0;
    max-width: calc(100% - 55px);
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name{
	line-height: 1.3;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .nav.sub-menu{
	padding: 0 0 0 2.55rem;
}
.navbar.default-layout{
	background: linear-gradient(120deg, #75beff, #1A83E2);
}
.nav_button{
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 600;
}
.nav_button i{
	margin-right: 0;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item{
	padding: 10px 25px;
}
.card .card-body{
	padding: 20px;
}
.card-title{
	font-weight: 600;
}
.btn{
	font-size: 13px;
	height: 36px!important;
}
.form-control:not(textarea), select.form-control, select.form-control:not([size]):not([multiple]){
	padding: 0.43rem 0.75rem;
	line-height: 13px;
	font-size: 13px;
	height: 36px!important;
}
.table td, .table th{
	white-space: unset;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img{
	width: auto!important;
}
.card.mb-4 {
    border-radius: 8px;
}
@media screen and (max-width: 991px){
	.main-panel{
		width: 100%;
	}
}